<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="enter persnal details" class="cq-placeholder"></p>
<sly data-sly-use.model="com.aem.training.site.core.models.ListofLinkMultiField">
    <sly data-sly-list.item="${model.infoList}">
        <div class="card">
            <img src="${item.image}" alt="Avatar" style="width: 100%;" />
            <div class="container">
                <p><a href="${item.link}" target="_blank">${item.text}</a></p>
            </div>
        </div>
    </sly>
</sly>