<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="enter persnal details" class="cq-placeholder"></p>
<sly data-sly-use.model="com.aem.training.site.core.models.ListofLinkNestedMultiField">
    <ul data-sly-list.item="${model.listofinfo}">
        <li>
            <a href="${item.link}" target="_blank">${item.text}</a>
        </li>
        <ul data-sly-list.itemchild="${item.listinfo}"><h1>hello</h1>
            <li><a href="${itemchild.link}" target="_blank">${itemchild.text}</a></li>
        </ul>
    </ul>
</sly>
