<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="enter persnal details" class="cq-placeholder"></p>
<sly data-sly-use.cardmodel="com.aem.training.site.core.models.CardModel">
    <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
        <sly data-sly-call="${clientlib.css @ categories='training.card'}" />
    </sly>
    <div class="card">
        <img src=${cardmodel.cardimage} alt="Avatar" style="width:100%">
        <div class="container">
            <h3>name:<b>${cardmodel.fullname}</b></h3>
            <h3>discription:<p>${cardmodel.discription}</p></<h3>
            <h3>altText:<p>${cardmodel.altText}</p></<h3>
        </div>
    </div>
</sly>