<sly data-sly-include = "header.html"/>
<sly data-sly-include = "/libs/wcm/core/components/init/init.jsp"/>
<sly data-sly-resource = "${'parsys-header' @ resourceType = 'wcm/foundation/components/parsys'}"/>
<sly data-sly-include = "body.html"/>
<sly data-sly-include = "footer.html"/>